<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <title>UNICON</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'assets/img/logo1.png' %}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{%static 'assets/css/bootstrap.min.css'%}" />

    <link
      rel="stylesheet"
      href="{% static 'assets/plugins/fontawesome/css/all.min.css'%}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css'%}"
    />

    <link rel="stylesheet" href="{% static 'assets/css/select2.min.css' %}" />

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="main-wrapper">
      <div class="header-outer">
        <div class="header">
          <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar">
            <i class="fas fa-bars" aria-hidden="true"></i>
          </a>
          <a id="toggle_btn" class="float-left" href="javascript:void(0);">
            <i
              class="ri-layout-grid-fill"
              style="font-size: 2em; color: #337ab7"
            ></i>
          </a>

          <ul class="nav float-left">
            <li>
              <div class="top-nav-search">
                <a href="javascript:void(0);" class="responsive-search">
                  <i class="fa fa-search"></i>
                </a>
                <form action="#">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Search here"
                  />
                  <button class="btn" type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                </form>
              </div>
            </li>
            <li>
              <a
                href="/index/"
                class="mobile-logo d-md-block d-lg-none d-block"
              >
                <img
                  src="{% static 'assets/img/logo1.png' %}"
                  alt=""
                  width="40" height="40"
                />
              </a>
            </li>
          </ul>

          <ul class="nav user-menu float-right">
            <li class="nav-item dropdown d-none d-sm-block">
              <a
                href="#"
                class="dropdown-toggle nav-link"
                data-toggle="dropdown"
              >
                <i class="fa-solid fa-bell" style="color: #337ab7"></i>
              </a>
              <div class="dropdown-menu notifications">
                <div class="topnav-dropdown-header">
                  <span>Notifications</span>
                </div>
                <div class="drop-scroll">
                  <ul class="notification-list">
                    <li class="notification-message">
                      <a href="activities">
                        <div class="media">
                          <span class="avatar">
                            <img
                              alt="John Doe"
                              src="{% static 'assets/img/user-06.jpg' %}"
                              class="img-fluid rounded-circle"
                            />
                          </span>
                          <div class="media-body">
                            <p class="noti-details">
                              <span class="noti-title">John Doe</span> is now
                              following you
                            </p>
                            <p class="noti-time">
                              <span class="notification-time">4 mins ago</span>
                            </p>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li class="notification-message">
                      <a href="activities">
                        <div class="media">
                          <span class="avatar">T</span>
                          <div class="media-body">
                            <p class="noti-details">
                              <span class="noti-title">Tarah Shropshire</span>
                              sent you a message.
                            </p>
                            <p class="noti-time">
                              <span class="notification-time">6 mins ago</span>
                            </p>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li class="notification-message">
                      <a href="activities">
                        <div class="media">
                          <span class="avatar">L</span>
                          <div class="media-body">
                            <p class="noti-details">
                              <span class="noti-title">Misty Tison</span> liked
                              your photo.
                            </p>
                            <p class="noti-time">
                              <span class="notification-time">8 mins ago</span>
                            </p>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li class="notification-message">
                      <a href="activities">
                        <div class="media">
                          <span class="avatar">G</span>
                          <div class="media-body">
                            <p class="noti-details">
                              <span class="noti-title">Rolland Webber</span>
                              booked an appointment for a meeting.
                            </p>
                            <p class="noti-time">
                              <span class="notification-time">12 mins ago</span>
                            </p>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li class="notification-message">
                      <a href="activities">
                        <div class="media">
                          <span class="avatar">T</span>
                          <div class="media-body">
                            <p class="noti-details">
                              <span class="noti-title">Bernardo Galaviz</span>
                              liked your photo.
                            </p>
                            <p class="noti-time">
                              <span class="notification-time">2 days ago</span>
                            </p>
                          </div>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="topnav-dropdown-footer">
                  <a href="activities">View all Notifications</a>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown has-arrow">
              <a href="#" class="nav-link user-link" data-toggle="dropdown">
                <span class="user-img">
                  <i class="fa-solid fa-user" style="color: #337ab7"></i>
                </span>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/profile/">My Profile</a>
                <a class="dropdown-item" href="/edit_profile/">Edit Profile</a>
                <a class="dropdown-item" href="/logout/">Logout</a>
              </div>
            </li>
          </ul>
          <div class="dropdown mobile-user-menu float-right">
            <a
              href="#"
              class="nav-link dropdown-toggle"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fas fa-ellipsis-v"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="profile.html">My Profile</a>
              <a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
              <a class="dropdown-item" href="/settings/">Settings</a>
              <a class="dropdown-item" href="/login/">Logout</a>
            </div>
          </div>
        </div>
      </div>
      {% include 'superadmin/sidebar.html' %}

      <div class="page-wrapper">
        <div class="content container-fluid">
          <div class="page-header">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <h5 class="text-uppercase mb-0 mt-0 page-title">add teacher</h5>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <ul class="breadcrumb float-right p-0 mb-0">
                  <li class="breadcrumb-item">
                    <a href="/index/"><i class="fas fa-home"></i> Home</a>
                  </li>
                  <li class="breadcrumb-item"><a href="/index/">Teacher</a></li>
                  <li class="breadcrumb-item"><span> Add Teacher</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="page-content">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    {% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}

                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                      <form
                        class="custom-mt-form"
                        action="/add_teacher/"
                        method="POST"
                        enctype="multipart/form-data"
                      >
                        {% csrf_token %}
                        <div class="form-group">
                          <label>ID</label>
                          <input
                            type="text"
                            class="form-control"
                            name="faculty_id"
                          />
                        </div>
                        <div class="form-group">
                          <label>Firstname</label>
                          <input
                            type="text"
                            class="form-control"
                            name="firstname"
                          />
                        </div>
                        <div class="form-group">
                          <label>Middlename</label>
                          <input
                            type="text"
                            class="form-control"
                            name="middlename"
                          />
                        </div>
                        <div class="form-group">
                          <label>Lastname</label>
                          <input
                            type="text"
                            class="form-control"
                            name="lastname"
                          />
                        </div>
                        <div class="form-group">
                          <label>Email</label>
                          <input
                            type="email"
                            class="form-control"
                            name="email"
                          />
                        </div>
                        <div class="form-group">
                          <label>Password</label>
                          <input
                            type="password"
                            class="form-control"
                            name="password"
                          />
                        </div>
                        <div class="form-group">
                          <label>Mobile Number</label>
                          <input
                            type="text"
                            class="form-control"
                            name="mobile_number"
                          />
                        </div>
                        <div class="form-group">
                          <label>Gender</label>
                          <select class="form-control select" name="gender">
                            <option>Male</option>
                            <option>Female</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label>Birth Date</label>
                          <input
                            class="form-control datetimepicker-input datetimepicker"
                            type="date"
                            data-toggle="datetimepicker"
                            name="birth_date"
                          />
                        </div>
                        <div class="form-group">
                          <label>Address Line 1</label>
                          <input
                            type="text"
                            class="form-control"
                            name="address_line_1"
                          />
                        </div>
                        <div class="form-group">
                          <label>Address Line 2</label>
                          <input
                            type="text"
                            class="form-control"
                            name="address_line_2"
                          />
                        </div>
                        <div class="form-group">
                          <label>Country</label>
                          <select
                            class="form-control select form-select country"
                            aria-label="Default select example"
                            name="country"
                            onchange="loadStates()"
                          >
                            <option selected>Select Country</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label>State</label>
                          <select
                            class="form-control select form-select state"
                            aria-label="Default select example"
                            name="state"
                            onchange="loadCities()"
                          >
                            <option selected>Select State</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label>City</label>
                          <select
                            class="form-control select form-select city"
                            aria-label="Default select example"
                            name="city"
                          >
                            <option selected>Select City</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label>Pincode</label>
                          <input
                            type="number"
                            class="form-control"
                            name="pincode"
                          />
                        </div>
                        <div class="form-group">
                          <label>Joining Date</label>
                          <input
                            class="form-control datetimepicker-input datetimepicker"
                            type="date"
                            data-toggle="datetimepicker"
                            name="joining_date"
                          />
                        </div>
                        <div class="form-group">
                          <label>Course</label>
                          <select class="form-control select" name="course">
                            {% for i in all_courses %}
                            <option value="{{ i.id }}">
                              {{ i.course_name }}
                            </option>
                            {% endfor %}
                          </select>
                        </div>
                        <div class="form-group">
                          <label>Department</label>
                          <select class="form-control select" name="department">
                            {% for i in all_departments %}
                            <option value="{{ i.id }}">
                              {{ i.department_name}}
                            </option>
                            {% endfor %}
                          </select>
                        </div>
                        <div class="form-group">
                          <label>Designations</label>
                          <input
                            type="text"
                            class="form-control"
                            name="designations"
                          />
                        </div>
                        <div class="form-group">
                          <label>Achievements</label>
                          <input
                            type="text"
                            class="form-control"
                            name="achievements"
                          />
                        </div>
                        <div class="form-group">
                          <label>Qualification</label>
                          <input
                            type="text"
                            class="form-control"
                            name="qualification"
                          />
                        </div>
                        <div class="form-group">
                          <label>File</label>
                          <input
                            type="file"
                            name="pic"
                            accept="image/*"
                            class="form-control"
                          />
                        </div>
                        <div
                          class="form-group text-center custom-mt-form-group"
                        >
                        <a class="btn btn-primary mr-2" href="{% url "add_students_bulk" %}">
                          Import Teachers
                        </a>
                          <button class="btn btn-primary mr-2" type="submit">
                            Submit
                          </button>
                          <button class="btn btn-secondary" type="reset">
                            Cancel
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="notification-box">
          <!-- <div class="msg-sidebar notifications msg-noti">
					<div class="topnav-dropdown-header">
						<span>Messages</span>
					</div>
					<div class="drop-scroll msg-list-scroll">
						<ul class="list-box">
							<li>
								<a href="chat.html">
									<div class="list-item">
										<div class="list-left">
											<span class="avatar">R</span>
										</div>
										<div class="list-body">
											<span class="message-author">Richard Miles </span>
											<span class="message-time">12:28 AM</span>
											<div class="clearfix"></div>
											<span class="message-content">Lorem ipsum dolor sit amet, consectetur
												adipiscing</span>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="chat.html">
									<div class="list-item new-message">
										<div class="list-left">
											<span class="avatar">J</span>
										</div>
										<div class="list-body">
											<span class="message-author">Ruth C. Gault</span>
											<span class="message-time">1 Aug</span>
											<div class="clearfix"></div>
											<span class="message-content">Lorem ipsum dolor sit amet, consectetur
												adipiscing</span>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="chat.html">
									<div class="list-item">
										<div class="list-left">
											<span class="avatar">T</span>
										</div>
										<div class="list-body">
											<span class="message-author"> Tarah Shropshire </span>
											<span class="message-time">12:28 AM</span>
											<div class="clearfix"></div>
											<span class="message-content">Lorem ipsum dolor sit amet, consectetur
												adipiscing</span>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="chat.html">
									<div class="list-item">
										<div class="list-left">
											<span class="avatar">M</span>
										</div>
										<div class="list-body">
											<span class="message-author">Mike Litorus</span>
											<span class="message-time">12:28 AM</span>
											<div class="clearfix"></div>
											<span class="message-content">Lorem ipsum dolor sit amet, consectetur
												adipiscing</span>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="chat.html">
									<div class="list-item">
										<div class="list-left">
											<span class="avatar">C</span>
										</div>
										<div class="list-body">
											<span class="message-author"> Catherine Manseau </span>
											<span class="message-time">12:28 AM</span>
											<div class="clearfix"></div>
											<span class="message-content">Lorem ipsum dolor sit amet, consectetur
												adipiscing</span>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="chat.html">
									<div class="list-item">
										<div class="list-left">
											<span class="avatar">D</span>
										</div>
										<div class="list-body">
											<span class="message-author"> Domenic Houston </span>
											<span class="message-time">12:28 AM</span>
											<div class="clearfix"></div>
											<span class="message-content">Lorem ipsum dolor sit amet, consectetur
												adipiscing</span>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="chat.html">
									<div class="list-item">
										<div class="list-left">
											<span class="avatar">B</span>
										</div>
										<div class="list-body">
											<span class="message-author"> Buster Wigton </span>
											<span class="message-time">12:28 AM</span>
											<div class="clearfix"></div>
											<span class="message-content">Lorem ipsum dolor sit amet, consectetur
												adipiscing</span>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="chat.html">
									<div class="list-item">
										<div class="list-left">
											<span class="avatar">R</span>
										</div>
										<div class="list-body">
											<span class="message-author"> Rolland Webber </span>
											<span class="message-time">12:28 AM</span>
											<div class="clearfix"></div>
											<span class="message-content">Lorem ipsum dolor sit amet, consectetur
												adipiscing</span>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="chat.html">
									<div class="list-item">
										<div class="list-left">
											<span class="avatar">C</span>
										</div>
										<div class="list-body">
											<span class="message-author"> Claire Mapes </span>
											<span class="message-time">12:28 AM</span>
											<div class="clearfix"></div>
											<span class="message-content">Lorem ipsum dolor sit amet, consectetur
												adipiscing</span>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="chat.html">
									<div class="list-item">
										<div class="list-left">
											<span class="avatar">M</span>
										</div>
										<div class="list-body">
											<span class="message-author">Melita Faucher</span>
											<span class="message-time">12:28 AM</span>
											<div class="clearfix"></div>
											<span class="message-content">Lorem ipsum dolor sit amet, consectetur
												adipiscing</span>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="chat.html">
									<div class="list-item">
										<div class="list-left">
											<span class="avatar">J</span>
										</div>
										<div class="list-body">
											<span class="message-author">Jeffery Lalor</span>
											<span class="message-time">12:28 AM</span>
											<div class="clearfix"></div>
											<span class="message-content">Lorem ipsum dolor sit amet, consectetur
												adipiscing</span>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="chat.html">
									<div class="list-item">
										<div class="list-left">
											<span class="avatar">L</span>
										</div>
										<div class="list-body">
											<span class="message-author">Loren Gatlin</span>
											<span class="message-time">12:28 AM</span>
											<div class="clearfix"></div>
											<span class="message-content">Lorem ipsum dolor sit amet, consectetur
												adipiscing</span>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="chat.html">
									<div class="list-item">
										<div class="list-left">
											<span class="avatar">T</span>
										</div>
										<div class="list-body">
											<span class="message-author">Tarah Shropshire</span>
											<span class="message-time">12:28 AM</span>
											<div class="clearfix"></div>
											<span class="message-content">Lorem ipsum dolor sit amet, consectetur
												adipiscing</span>
										</div>
									</div>
								</a>
							</li>
						</ul>
					</div>
					<div class="topnav-dropdown-footer">
						<a href="chat.html">See all messages</a>
					</div>
				</div> -->
        </div>
      </div>
    </div>
    <script>
      var config = {
        cUrl: "https://api.countrystatecity.in/v1/countries",
        ckey: "S3lLdVBHeDZTR1RYWUU5M3IxdG1jUTZvYTRLYlQ3bWRXSWFOcWhTSw==",
      };

      var countrySelect = document.querySelector(".country"),
        stateSelect = document.querySelector(".state"),
        citySelect = document.querySelector(".city");

      // Store country data globally
      var countryData = [];
      // Store state data globally for the selected country
      var stateData = [];

      function loadCountries() {
        let apiEndPoint = config.cUrl;

        fetch(apiEndPoint, { headers: { "X-CSCAPI-KEY": config.ckey } })
          .then((Response) => Response.json())
          .then((data) => {
            // Store the country data globally
            countryData = data;

            // Check if data is an array
            if (Array.isArray(data)) {
              data.forEach((country) => {
                const option = document.createElement("option");
                option.value = country.name; // Store country name
                option.textContent = country.name;
                countrySelect.appendChild(option);
              });
            } else {
              console.error("Received data is not an array:", data);
            }
          })
          .catch((error) => console.error("Error loading countries:", error));

        stateSelect.disabled = true;
        citySelect.disabled = true;
        stateSelect.style.pointerEvents = "none";
        citySelect.style.pointerEvents = "none";
      }

      function loadStates() {
        stateSelect.disabled = false;
        citySelect.disabled = true;
        stateSelect.style.pointerEvents = "auto";
        citySelect.style.pointerEvents = "none";

        const selectedCountryName = countrySelect.value;

        // Find the selected country's ISO code from the global `countryData`
        const selectedCountry = countryData.find(
          (country) => country.name === selectedCountryName
        );
        const selectedCountryCode = selectedCountry ? selectedCountry.iso2 : "";

        stateSelect.innerHTML = '<option value="">Select State</option>';
        citySelect.innerHTML = '<option value="">Select City</option>';

        if (!selectedCountryCode) {
          console.error("Country code not found for:", selectedCountryName);
          return;
        }

        fetch(`${config.cUrl}/${selectedCountryCode}/states`, {
          headers: { "X-CSCAPI-KEY": config.ckey },
        })
          .then((response) => response.json())
          .then((data) => {
            // Store the state data globally for the selected country
            stateData = data;

            // Check if data is an array
            if (Array.isArray(data)) {
              data.forEach((state) => {
                const option = document.createElement("option");
                option.value = state.name; // Store state name
                option.textContent = state.name;
                stateSelect.appendChild(option);
              });
            } else {
              console.error("Received data is not an array for states:", data);
            }
          })
          .catch((error) => console.error("Error loading states:", error));
      }

      function loadCities() {
        citySelect.disabled = false;
        citySelect.style.pointerEvents = "auto";

        const selectedCountryName = countrySelect.value;
        const selectedStateName = stateSelect.value;

        // Find the selected country's ISO code from the global `countryData`
        const selectedCountry = countryData.find(
          (country) => country.name === selectedCountryName
        );
        const selectedCountryCode = selectedCountry ? selectedCountry.iso2 : "";

        // Find the selected state's ISO code from the global `stateData`
        const selectedState = stateData.find(
          (state) => state.name === selectedStateName
        );
        const selectedStateCode = selectedState ? selectedState.iso2 : "";

        citySelect.innerHTML = '<option value="">Select City</option>';

        if (!selectedStateCode) {
          console.error("State code not found for:", selectedStateName);
          return;
        }

        fetch(
          `${config.cUrl}/${selectedCountryCode}/states/${selectedStateCode}/cities`,
          { headers: { "X-CSCAPI-KEY": config.ckey } }
        )
          .then((response) => response.json())
          .then((data) => {
            // Check if data is an array
            if (Array.isArray(data)) {
              data.forEach((city) => {
                const option = document.createElement("option");
                option.value = city.name; // Store city name
                option.textContent = city.name;
                citySelect.appendChild(option);
              });
            } else {
              console.error("Received data is not an array for cities:", data);
            }
          })
          .catch((error) => console.error("Error loading cities:", error));
      }

      window.onload = loadCountries;
    </script>
    <!-- 
	<script src="assets/js/jquery-3.6.0.min.js"></script>
	<script src="assets/js/popper.min.js"></script>

	<script src="assets/js/bootstrap.bundle.min.js"></script>

	<script src="assets/js/jquery.slimscroll.js"></script>

	<script src="assets/js/select2.min.js"></script>

	<script src="assets/js/moment.min.js"></script>
	<script src="assets/plugins/datetimepicker/js/tempusdominus-bootstrap-4.min.js"></script>

	<script src="assets/js/app.js"></script> -->
  </body>
</html>
