<!DOCTYPE html>
<html lang="en">


{% load static %}

<head>
    <meta charset="utf-8">

    <title>UNICON</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/logo1.png' %}" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/unicon_logo.png' %}">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/plugins/datetimepicker/css/tempusdominus-bootstrap-4.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/select2.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!--[if lt IE 9]>
        <script src="{% static 'assets/js/html5shiv.min.js' %}"></script>
        <script src="{% static 'assets/js/respond.min.js' %}"></script>
    <![endif]-->
</head>

<body>

    <div class="main-wrapper">

          {% include 'superadmin/sidebar.html' %}

        <div class="page-wrapper">
            <div class="content container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <h5 class="text-uppercase mb-0 mt-0 page-title">Subject</h5>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <ul class="breadcrumb float-right p-0 mb-0">
                                <li class="breadcrumb-item"><a href="/index/"><i class="fas fa-home"></i> Home</a>
                                </li>
                                <li class="breadcrumb-item"><a href="#">subject</a></li>
                                <li class="breadcrumb-item"><span> All subject</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <form class="custom-mt-form" method="POST" action="/add_subject/">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Subject Code</label>
                                <input type="number" name="subject_code" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" name="subject_name" class="form-control" />
                            </div>
                            <div class="form-group form-focus select-focus">
                                <select class="select form-control" name="department">
                                    {% for i in all_departments %}
                                    <option value="{{i.id}}"> {{i.department_name}} </option>
                                    {% endfor %}
                                </select>
                                <label class="focus-label">Department</label>
                            </div>
                            <div class="form-group form-focus select-focus">
                                <select class="select form-control" name="batch">
                                    {% for i in all_batches %}
                                    <option value="{{i.id}}"> {{i.batch_start_year}} - {{i.batch_end_year}} </option>
                                    {% endfor %}
                                    
                                    
                                </select>
                                <label class="focus-label">Batch</label>
                            </div>
                            <div class="form-group form-focus select-focus">
                                <select class="select form-control" name="semester">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>

                                </select>
                                <label class="focus-label">Sem</label>
                            </div>
                            <div class="form-group form-focus select-focus">
                                <select class="select form-control" name="course"> 
                                    {% for i in all_courses %}
                                    <option value="{{i.id}}"> {{i.course_name}} </option>
                                    {% endfor %}
                                </select>
                                <label class="focus-label">Course</label>
                            </div>
                            <div class="form-group text-center custom-mt-form-group">
                                <a class="btn btn-primary mr-2" href="{% url "bulk_add_subjects" %}">
                                    Import Subjects
                                  </a>
                                <button class="btn btn-primary mr-2" type="submit">
                                    Add Subjects
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                
            </div>
        </div>
</body>

</html>