{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
  <title>UNICON</title>
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/logo_unicon.png' %}" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet" />

  <link rel="stylesheet" href="{%static 'assets/css/bootstrap.min.css'%}" />

  <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css'%}" />
  <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css'%}" />

  <link rel="stylesheet" href="{% static 'assets/css/select2.min.css' %}" />


  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
  <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="main-wrapper">
   
    {% include 'superadmin/sidebar.html' %}

    <div class="page-wrapper">
      <div class="content container-fluid">
        <div class="page-header">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <h5 class="text-uppercase mb-0 mt-0 page-title">
                All Students
              </h5>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <ul class="breadcrumb float-right p-0 mb-0">
                <li class="breadcrumb-item">
                  <a href="/index/"><i class="fas fa-home"></i> Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="/index/">Students</a>
                </li>
                <li class="breadcrumb-item"><span>All Students</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-12"></div>
          <div class="col-sm-8 col-12 text-right add-btn-col">
            <a href="/add_student/" class="btn btn-primary btn-rounded float-right"><i class="fas fa-plus"></i> Add
              Student</a>
          </div>
        </div>


        <form method="get" action="{% url 'all_students' %}">
          <div class="row filter-row d-flex align-items-center justify-content-between">
            
            <!-- Student ID -->
            <div class="col-12 col-sm-6 col-md-2 mb-3">
              <div class="form-group form-focus">
                <input type="text" name="student_id" class="form-control floating" value="{{ request.GET.student_id }}">
                <label class="focus-label">Student ID</label>
              </div>
            </div>
        
            <!-- Department -->
            <div class="col-10 col-sm-2 col-md-2 mb-3">
              <div class="form-group form-focus select-focus">
                <select class="select form-control" name="department">
                  <option value="">Select Department</option>
                  {% for dept in all_departments %}
                    <option value="{{ dept.department_name }}" {% if request.GET.department == dept.department_name %}selected{% endif %}>{{ dept.department_name }}</option>
                  {% endfor %}
                </select>
                <label class="focus-label">Department</label>
              </div>
            </div>
        
            <!-- Course -->
            <div class="col-12 col-sm-6 col-md-2 mb-3">
              <div class="form-group form-focus select-focus">
                <select class="select form-control" name="course">
                  <option value="">Select Course</option>
                  {% for course in all_courses %}
                    <option value="{{ course.course_name }}" {% if request.GET.course == course.course_name %}selected{% endif %}>{{ course.course_name }}</option>
                  {% endfor %}
                </select>
                <label class="focus-label">Course</label>
              </div>
            </div>
        
            <!-- Semester -->
            <div class="col-12 col-sm-6 col-md-2 mb-3">
              <div class="form-group form-focus select-focus">
                <select class="select form-control" name="semester">
                  <option value="">Select Semester</option>
                  {% for i in 1|to:10 %}
                    <option value="{{ i }}" {% if request.GET.semester == i %}selected{% endif %}>{{ i }}</option>
                  {% endfor %}
                </select>
                <label class="focus-label">Semester</label>
              </div>
            </div>
        
            <!-- Division -->
            <div class="col-12 col-sm-6 col-md-2 mb-3">
              <div class="form-group form-focus select-focus">
                <select class="select form-control" name="division">
                  <option value="">Select Division</option>
                  <option value="A" {% if request.GET.division == 'A' %}selected{% endif %}>A</option>
                  <option value="B" {% if request.GET.division == 'B' %}selected{% endif %}>B</option>
                  <option value="C" {% if request.GET.division == 'C' %}selected{% endif %}>C</option>
                </select>
                <label class="focus-label">Division</label>
              </div>
            </div>
        
            <!-- Add Filter and Search Buttons -->
            <div class="col-12 d-flex justify-content-between mb-3">
              <!-- Search Button -->
              <div class="col-md-5">
                <div class="form-group">
                  <button type="submit" class="btn btn-search rounded btn-block">Search</button>
                </div>
              </div>
              <!-- Clear Filter Link -->
              <div class="col-md-5">
                <a href="{% url 'all_students' %}" class="btn btn-outline-secondary btn-sm btn-block">Clear Filter</a>
              </div>
            </div>
        
          </div>
        </form>
        
        
        

        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col-sm-6">
                    <div class="page-title">All Students</div>
                  </div>
                    
                </div>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table custom-table">
                    <thead class="thead-light">
                      <tr>
                        <th>Student ID</th>
                        <th>Name</th>
                        <th>Department</th>
                        <th>Course</th>
                        <th>Semester</th>
                        <th>Division</th>
                        <th class="text-right">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in all_students %}
                      <tr>
                        <td>{{i.enrollment}}</td>
                        <td>{{i.firstname}}</td>
                        <td>{{i.student_department}}</td>
                        <td>{{i.course.course_name}}</td>
                        <td>{{i.semester}}</td>
                        <td>{{i.division}}</td>
                        <td class="text-right">
                          <a href="/edit_student/{{i.id}}" class="btn btn-primary btn-sm mb-1">
                            <i class="far fa-edit"></i>
                          </a>
                          <button type="submit" class="btn btn-danger btn-sm mb-1">
                            <a href="/delete_student/{{i.id}}">
                              <i class="far fa-trash-alt"></i></a>
                          </button>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% comment %} <div class="notification-box">
          <div class="msg-sidebar notifications msg-noti">
            <div class="topnav-dropdown-header">
              <span>Messages</span>
            </div>
            <div class="drop-scroll msg-list-scroll">
              <ul class="list-box">
                <li>
                  <a href="chat.html">
                    <div class="list-item">
                      <div class="list-left">
                        <span class="avatar">R</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author">Richard Miles </span>
                        <span class="message-time">12:28 AM</span>
                        <div class="clearfix"></div>
                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                          adipiscing</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="chat.html">
                    <div class="list-item new-message">
                      <div class="list-left">
                        <span class="avatar">R</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author">Ruth C. Gault</span>
                        <span class="message-time">1 Aug</span>
                        <div class="clearfix"></div>
                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                          adipiscing</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="chat.html">
                    <div class="list-item">
                      <div class="list-left">
                        <span class="avatar">T</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author"> Tarah Shropshire </span>
                        <span class="message-time">12:28 AM</span>
                        <div class="clearfix"></div>
                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                          adipiscing</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="chat.html">
                    <div class="list-item">
                      <div class="list-left">
                        <span class="avatar">M</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author">Mike Litorus</span>
                        <span class="message-time">12:28 AM</span>
                        <div class="clearfix"></div>
                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                          adipiscing</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="chat.html">
                    <div class="list-item">
                      <div class="list-left">
                        <span class="avatar">C</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author">
                          Catherine Manseau
                        </span>
                        <span class="message-time">12:28 AM</span>
                        <div class="clearfix"></div>
                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                          adipiscing</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="chat.html">
                    <div class="list-item">
                      <div class="list-left">
                        <span class="avatar">D</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author"> Domenic Houston </span>
                        <span class="message-time">12:28 AM</span>
                        <div class="clearfix"></div>
                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                          adipiscing</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="chat.html">
                    <div class="list-item">
                      <div class="list-left">
                        <span class="avatar">B</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author"> Buster Wigton </span>
                        <span class="message-time">12:28 AM</span>
                        <div class="clearfix"></div>
                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                          adipiscing</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="chat.html">
                    <div class="list-item">
                      <div class="list-left">
                        <span class="avatar">R</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author"> Rolland Webber </span>
                        <span class="message-time">12:28 AM</span>
                        <div class="clearfix"></div>
                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                          adipiscing</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="chat.html">
                    <div class="list-item">
                      <div class="list-left">
                        <span class="avatar">C</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author"> Claire Mapes </span>
                        <span class="message-time">12:28 AM</span>
                        <div class="clearfix"></div>
                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                          adipiscing</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="chat.html">
                    <div class="list-item">
                      <div class="list-left">
                        <span class="avatar">M</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author">Melita Faucher</span>
                        <span class="message-time">12:28 AM</span>
                        <div class="clearfix"></div>
                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                          adipiscing</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="chat.html">
                    <div class="list-item">
                      <div class="list-left">
                        <span class="avatar">J</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author">Jeffery Lalor</span>
                        <span class="message-time">12:28 AM</span>
                        <div class="clearfix"></div>
                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                          adipiscing</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="chat.html">
                    <div class="list-item">
                      <div class="list-left">
                        <span class="avatar">L</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author">Loren Gatlin</span>
                        <span class="message-time">12:28 AM</span>
                        <div class="clearfix"></div>
                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                          adipiscing</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="chat.html">
                    <div class="list-item">
                      <div class="list-left">
                        <span class="avatar">T</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author">Tarah Shropshire</span>
                        <span class="message-time">12:28 AM</span>
                        <div class="clearfix"></div>
                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                          adipiscing</span>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="topnav-dropdown-footer">
              <a href="chat.html">See all messages</a>
            </div>
          </div>
        </div> {% endcomment %}
      </div>
    </div>

    <div id="delete_employee" class="modal" role="dialog">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-md">
          <div class="modal-header">
            <h4 class="modal-title">Delete Employee</h4>
          </div>
          <form>
            <div class="modal-body">
              <p>Are you sure want to delete this?</p>
              <div class="m-t-20">
                <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                <button type="submit" class="btn btn-danger">Delete</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="assets/js/jquery-3.6.0.min.js"></script>

  <script src="assets/js/bootstrap.bundle.min.js"></script>

  <script src="assets/js/jquery.slimscroll.js"></script>

  <script src="assets/js/select2.min.js"></script>
  <script src="assets/js/moment.min.js"></script>

  <script src="assets/js/app.js"></script>
</body>

<!-- Mirrored from dreamguystech.com/preadmin/html/school/light/all-students.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 19 Jun 2022 14:07:21 GMT -->

</html>