<!DOCTYPE html>
<html lang="en">



{% load static %}

<head>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
	<title>UNICON</title>
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/logo1.png' %}" />
	<link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet" />

	<link rel="stylesheet" href="{%static 'assets/css/bootstrap.min.css'%}" />

	<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css'%}" />
	<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css'%}" />

	<link rel="stylesheet" href="{% static 'assets/css/select2.min.css' %}" />

	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
	<!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<div class="main-wrapper">
	
            {% include 'superadmin/sidebar.html' %}
            

		<div class="page-wrapper">
			<div class="content container-fluid">
				<div class="page-header">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-12">
							<h5 class="text-uppercase mb-0 mt-0 page-title">All Bacth</h5>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-12">
							<ul class="breadcrumb float-right p-0 mb-0">
								<li class="breadcrumb-item"><a href="/index/"><I class="fas fa-home"></i> Home</a>
								</li>
								<li class="breadcrumb-item"><a href="/index/">Bacth</a></li>
								<li class="breadcrumb-item"> <span>All Bacth</span></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 col-12">
					</div>
					<div class="col-sm-8 col-12 text-right add-btn-col">
						<a href="/add_batch/" class="btn btn-primary btn-rounded float-right"><i
								class="fas fa-plus"></i> Add batch</a>
					</div>
				</div>
				<form method="get" action="{% url 'all_batch' %}">
					<div class="row g-3 align-items-center">
						<!-- Start Year -->
						<div class="col-md-3">
							<div class="form-floating">
								<input 
									type="number" 
									name="start_year" 
									class="form-control"
									id="startYear" 
									placeholder="Start Year" 
									value="{{ request.GET.start_year }}">
								<label for="startYear">Start Year</label>
							</div>
						</div>
				
						<!-- End Year -->
						<div class="col-md-3">
							<div class="form-floating">
								<input 
									type="number" 
									name="end_year" 
									class="form-control"
									id="endYear" 
									placeholder="End Year" 
									value="{{ request.GET.end_year }}">
								<label for="endYear">End Year</label>
							</div>
						</div>
				
						<!-- Course -->
						<div class="col-md-3">
							<div class="form-floating">
								<select 
									name="course" 
									class="form-select" 
									id="course">
									<option value="">All Courses</option>
									{% for course in all_courses %}
										<option 
											value="{{ course.id }}" 
											{% if request.GET.course == course.id|stringformat:"s" %}selected{% endif %}>
											{{ course.course_name }}
										</option>
									{% endfor %}
								</select>
								<label for="course">Course</label>
							</div>
						</div>
				
						<!-- Search Button -->
						<div class="col-md-2 d-flex justify-content-md-start">
							<button 
								type="submit" 
								class="btn btn-primary w-100">
								Search
							</button>
						</div>
				
						<!-- Clear Filter Button -->
						<div class="col-md-1 d-flex justify-content-md-start">
							<a 
								href="{% url 'all_batch' %}" 
								class="btn btn-secondary w-100">
								Clear
							</a>
						</div>
					</div>
				</form>
				  

				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-header">
								<div class="row align-items-center">
								
								</div>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table custom-table">
										<thead class="thead-light">
											<tr>
												<th>Start Batch Year</th>
												<th>End Batch Year</th>
												<th>Course</th>
												<th class="text-right">Action</th>
											</tr>
										</thead>
										<tbody>
											{% for batch in all_batches %}
    <tr>
        <td>{{ batch.batch_start_year }}</td>
        <td>{{ batch.batch_end_year }}</td>
        <td>{{ batch.course.course_name }}</td>  <!-- Assuming the batch has a ForeignKey to Course -->
        <td class="text-right">
            <a href="#" class="btn btn-primary btn-sm mb-1">
                <i class="far fa-eye"></i>
            </a>
            <a href="/delete_batch/{{ batch.id }}" class="btn btn-primary btn-sm mb-1"> 
                <i class="fas fa-trash-alt"></i>
            </a>
        </td>
    </tr>
{% endfor %}

											
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="notification-box">
					<div class="msg-sidebar notifications msg-noti">
						<div class="topnav-dropdown-header">
							<span>Messages</span>
						</div>
						<div class="drop-scroll msg-list-scroll">
							<ul class="list-box">
								<li>
									<a href="chat.html">
										<div class="list-item">
											<div class="list-left">
												<span class="avatar">R</span>
											</div>
											<div class="list-body">
												<span class="message-author">Richard Miles </span>
												<span class="message-time">12:28 AM</span>
												<div class="clearfix"></div>
												<span class="message-content">Lorem ipsum dolor sit amet,
													consectetur
													adipiscing</span>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="chat.html">
										<div class="list-item new-message">
											<div class="list-left">
												<span class="avatar">R</span>
											</div>
											<div class="list-body">
												<span class="message-author">Ruth C. Gault</span>
												<span class="message-time">1 Aug</span>
												<div class="clearfix"></div>
												<span class="message-content">Lorem ipsum dolor sit amet,
													consectetur
													adipiscing</span>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="chat.html">
										<div class="list-item">
											<div class="list-left">
												<span class="avatar">T</span>
											</div>
											<div class="list-body">
												<span class="message-author"> Tarah Shropshire </span>
												<span class="message-time">12:28 AM</span>
												<div class="clearfix"></div>
												<span class="message-content">Lorem ipsum dolor sit amet,
													consectetur
													adipiscing</span>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="chat.html">
										<div class="list-item">
											<div class="list-left">
												<span class="avatar">M</span>
											</div>
											<div class="list-body">
												<span class="message-author">Mike Litorus</span>
												<span class="message-time">12:28 AM</span>
												<div class="clearfix"></div>
												<span class="message-content">Lorem ipsum dolor sit amet,
													consectetur
													adipiscing</span>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="chat.html">
										<div class="list-item">
											<div class="list-left">
												<span class="avatar">C</span>
											</div>
											<div class="list-body">
												<span class="message-author"> Catherine Manseau </span>
												<span class="message-time">12:28 AM</span>
												<div class="clearfix"></div>
												<span class="message-content">Lorem ipsum dolor sit amet,
													consectetur
													adipiscing</span>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="chat.html">
										<div class="list-item">
											<div class="list-left">
												<span class="avatar">D</span>
											</div>
											<div class="list-body">
												<span class="message-author"> Domenic Houston </span>
												<span class="message-time">12:28 AM</span>
												<div class="clearfix"></div>
												<span class="message-content">Lorem ipsum dolor sit amet,
													consectetur
													adipiscing</span>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="chat.html">
										<div class="list-item">
											<div class="list-left">
												<span class="avatar">B</span>
											</div>
											<div class="list-body">
												<span class="message-author"> Buster Wigton </span>
												<span class="message-time">12:28 AM</span>
												<div class="clearfix"></div>
												<span class="message-content">Lorem ipsum dolor sit amet,
													consectetur
													adipiscing</span>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="chat.html">
										<div class="list-item">
											<div class="list-left">
												<span class="avatar">R</span>
											</div>
											<div class="list-body">
												<span class="message-author"> Rolland Webber </span>
												<span class="message-time">12:28 AM</span>
												<div class="clearfix"></div>
												<span class="message-content">Lorem ipsum dolor sit amet,
													consectetur
													adipiscing</span>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="chat.html">
										<div class="list-item">
											<div class="list-left">
												<span class="avatar">C</span>
											</div>
											<div class="list-body">
												<span class="message-author"> Claire Mapes </span>
												<span class="message-time">12:28 AM</span>
												<div class="clearfix"></div>
												<span class="message-content">Lorem ipsum dolor sit amet,
													consectetur
													adipiscing</span>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="chat.html">
										<div class="list-item">
											<div class="list-left">
												<span class="avatar">M</span>
											</div>
											<div class="list-body">
												<span class="message-author">Melita Faucher</span>
												<span class="message-time">12:28 AM</span>
												<div class="clearfix"></div>
												<span class="message-content">Lorem ipsum dolor sit amet,
													consectetur
													adipiscing</span>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="chat.html">
										<div class="list-item">
											<div class="list-left">
												<span class="avatar">J</span>
											</div>
											<div class="list-body">
												<span class="message-author">Jeffery Lalor</span>
												<span class="message-time">12:28 AM</span>
												<div class="clearfix"></div>
												<span class="message-content">Lorem ipsum dolor sit amet,
													consectetur
													adipiscing</span>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="chat.html">
										<div class="list-item">
											<div class="list-left">
												<span class="avatar">L</span>
											</div>
											<div class="list-body">
												<span class="message-author">Loren Gatlin</span>
												<span class="message-time">12:28 AM</span>
												<div class="clearfix"></div>
												<span class="message-content">Lorem ipsum dolor sit amet,
													consectetur
													adipiscing</span>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="chat.html">
										<div class="list-item">
											<div class="list-left">
												<span class="avatar">T</span>
											</div>
											<div class="list-body">
												<span class="message-author">Tarah Shropshire</span>
												<span class="message-time">12:28 AM</span>
												<div class="clearfix"></div>
												<span class="message-content">Lorem ipsum dolor sit amet,
													consectetur
													adipiscing</span>
											</div>
										</div>
									</a>
								</li>
							</ul>
						</div>
						<div class="topnav-dropdown-footer">
							<a href="chat.html">See all messages</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>



</body>

</html>