<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <title>UNICON</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'assets/img/logo_unicon.png' %}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900"
      rel="stylesheet"
    />


	<link rel="stylesheet" href="{%static 'assets/css/bootstrap.min.css'%}" />

    <link
      rel="stylesheet"
      href="{% static 'assets/plugins/fontawesome/css/all.min.css'%}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css'%}"
    />


	<link rel="stylesheet" href="{% static 'assets/css/select2.min.css' %}" />

	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
	<!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="main-wrapper">
      
        {% include 'superadmin/sidebar.html' %}

        <div class="page-wrapper">
          <div class="content container-fluid">
            <div class="page-header">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                  <h5 class="text-uppercase mb-0 mt-0 page-title">
                    All Course
                  </h5>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                  <ul class="breadcrumb float-right p-0 mb-0">
                    <li class="breadcrumb-item">
                      <a href="/index/"><i class="fas fa-home"></i> Home</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="/index/">Course</a>
                    </li>
                    <li class="breadcrumb-item"><span>All Course</span></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 col-12"></div>
              <div class="col-sm-8 col-12 text-right add-btn-col">
                <a
                  href="/add_course/"
                  class="btn btn-primary btn-rounded float-right"
                  ><i class="fas fa-plus"></i> Add course</a
                >
              </div>
            </div>
            <form method="get" action="{% url 'all_course' %}">
              <div class="row filter-row">
                <div class="col-sm-6 col-md-4">
                  <div class="form-group form-focus">
                    <input type="text" name="name" class="form-control floating" value="{{ request.GET.name }}">
                    <label class="focus-label">Course Name</label>
                  </div>
                </div>
            
                <div class="col-sm-6 col-md-4">
                  <div class="form-group form-focus select-focus">
                    <select name="department" class="select form-control">
                      <option value="">All Departments</option>
                      {% for dept in all_departments %}
                        <option value="{{ dept.id }}" {% if request.GET.department == dept.id|stringformat:"s" %}selected{% endif %}>
                          {{ dept.department_name }}
                        </option>
                      {% endfor %}
                    </select>
                    <label class="focus-label">Department</label>
                  </div>
                </div>
            
                <div class="col-sm-6 col-md-2">
                  <div class="form-group">
                    <button type="submit" class="btn btn-search rounded btn-block mb-3">Search</button>
                  </div>
                </div>
            
                <div class="col-sm-6 col-md-2">
                  <div class="form-group">
                    <a href="{% url 'all_course' %}" class="btn btn-secondary rounded btn-block mb-3">Clear Filter</a>
                  </div>
                </div>
              </div>
            </form>
            
            {% for i in course %}
            <div class="row staff-grid-row">
              <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                <div class="profile-widget position-relative">
                  <div class="user-info">
                    <div
                      class="large text-muted"
                      style="font-size: 24px; font-weight: bold"
                    >
                      {{i.course_name}}
                    </div>
                  </div>
                  <button
                    class="btn btn-danger btn-sm position-absolute"
                    style="top: 10px; right: 10px"
                  >
                    <a href="/delete_course/{{i.id}}">
                      <i class="fas fa-trash-alt"></i
                    ></a>
                  </button>
                </div>
              </div>
            </div>
            {% endfor %}
            <div class="notification-box">
              <div class="msg-sidebar notifications msg-noti">
                <div class="topnav-dropdown-header">
                  <span>Messages</span>
                </div>
                <div class="drop-scroll msg-list-scroll">
                  <ul class="list-box">
                    <li>
                      <a href="chat.html">
                        <div class="list-item">
                          <div class="list-left">
                            <span class="avatar">R</span>
                          </div>
                          <div class="list-body">
                            <span class="message-author">Richard Miles </span>
                            <span class="message-time">12:28 AM</span>
                            <div class="clearfix"></div>
                            <span class="message-content"
                              >Lorem ipsum dolor sit amet, consectetur
                              adipiscing</span
                            >
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="chat.html">
                        <div class="list-item new-message">
                          <div class="list-left">
                            <span class="avatar">R</span>
                          </div>
                          <div class="list-body">
                            <span class="message-author">Ruth C. Gault</span>
                            <span class="message-time">1 Aug</span>
                            <div class="clearfix"></div>
                            <span class="message-content"
                              >Lorem ipsum dolor sit amet, consectetur
                              adipiscing</span
                            >
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="chat.html">
                        <div class="list-item">
                          <div class="list-left">
                            <span class="avatar">T</span>
                          </div>
                          <div class="list-body">
                            <span class="message-author">
                              Tarah Shropshire
                            </span>
                            <span class="message-time">12:28 AM</span>
                            <div class="clearfix"></div>
                            <span class="message-content"
                              >Lorem ipsum dolor sit amet, consectetur
                              adipiscing</span
                            >
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="chat.html">
                        <div class="list-item">
                          <div class="list-left">
                            <span class="avatar">M</span>
                          </div>
                          <div class="list-body">
                            <span class="message-author">Mike Litorus</span>
                            <span class="message-time">12:28 AM</span>
                            <div class="clearfix"></div>
                            <span class="message-content"
                              >Lorem ipsum dolor sit amet, consectetur
                              adipiscing</span
                            >
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="chat.html">
                        <div class="list-item">
                          <div class="list-left">
                            <span class="avatar">C</span>
                          </div>
                          <div class="list-body">
                            <span class="message-author">
                              Catherine Manseau
                            </span>
                            <span class="message-time">12:28 AM</span>
                            <div class="clearfix"></div>
                            <span class="message-content"
                              >Lorem ipsum dolor sit amet, consectetur
                              adipiscing</span
                            >
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="chat.html">
                        <div class="list-item">
                          <div class="list-left">
                            <span class="avatar">D</span>
                          </div>
                          <div class="list-body">
                            <span class="message-author">
                              Domenic Houston
                            </span>
                            <span class="message-time">12:28 AM</span>
                            <div class="clearfix"></div>
                            <span class="message-content"
                              >Lorem ipsum dolor sit amet, consectetur
                              adipiscing</span
                            >
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="chat.html">
                        <div class="list-item">
                          <div class="list-left">
                            <span class="avatar">B</span>
                          </div>
                          <div class="list-body">
                            <span class="message-author"> Buster Wigton </span>
                            <span class="message-time">12:28 AM</span>
                            <div class="clearfix"></div>
                            <span class="message-content"
                              >Lorem ipsum dolor sit amet, consectetur
                              adipiscing</span
                            >
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="chat.html">
                        <div class="list-item">
                          <div class="list-left">
                            <span class="avatar">R</span>
                          </div>
                          <div class="list-body">
                            <span class="message-author"> Rolland Webber </span>
                            <span class="message-time">12:28 AM</span>
                            <div class="clearfix"></div>
                            <span class="message-content"
                              >Lorem ipsum dolor sit amet, consectetur
                              adipiscing</span
                            >
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="chat.html">
                        <div class="list-item">
                          <div class="list-left">
                            <span class="avatar">C</span>
                          </div>
                          <div class="list-body">
                            <span class="message-author"> Claire Mapes </span>
                            <span class="message-time">12:28 AM</span>
                            <div class="clearfix"></div>
                            <span class="message-content"
                              >Lorem ipsum dolor sit amet, consectetur
                              adipiscing</span
                            >
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="chat.html">
                        <div class="list-item">
                          <div class="list-left">
                            <span class="avatar">M</span>
                          </div>
                          <div class="list-body">
                            <span class="message-author">Melita Faucher</span>
                            <span class="message-time">12:28 AM</span>
                            <div class="clearfix"></div>
                            <span class="message-content"
                              >Lorem ipsum dolor sit amet, consectetur
                              adipiscing</span
                            >
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="chat.html">
                        <div class="list-item">
                          <div class="list-left">
                            <span class="avatar">J</span>
                          </div>
                          <div class="list-body">
                            <span class="message-author">Jeffery Lalor</span>
                            <span class="message-time">12:28 AM</span>
                            <div class="clearfix"></div>
                            <span class="message-content"
                              >Lorem ipsum dolor sit amet, consectetur
                              adipiscing</span
                            >
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="chat.html">
                        <div class="list-item">
                          <div class="list-left">
                            <span class="avatar">L</span>
                          </div>
                          <div class="list-body">
                            <span class="message-author">Loren Gatlin</span>
                            <span class="message-time">12:28 AM</span>
                            <div class="clearfix"></div>
                            <span class="message-content"
                              >Lorem ipsum dolor sit amet, consectetur
                              adipiscing</span
                            >
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="chat.html">
                        <div class="list-item">
                          <div class="list-left">
                            <span class="avatar">T</span>
                          </div>
                          <div class="list-body">
                            <span class="message-author">Tarah Shropshire</span>
                            <span class="message-time">12:28 AM</span>
                            <div class="clearfix"></div>
                            <span class="message-content"
                              >Lorem ipsum dolor sit amet, consectetur
                              adipiscing</span
                            >
                          </div>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="topnav-dropdown-footer">
                  <a href="chat.html">See all messages</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

